@font-face {
  font-family: "BigJohn";
  src: url("../../fonts/BigJohn.otf");
}

@font-face {
  font-family: "SlimJoe";
  src: url("../../fonts/Slim+Joe.otf");
}

@font-face {
  font-family: "LatoBold";
  src: url("../../fonts/Lato/LatoBold/LatoBold.eot");
  src: url("../../fonts/Lato/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato/LatoBold/LatoBold.woff") format("woff"), url("../../fonts/Lato/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LatoRegular";
  src: url("../../fonts/Lato/LatoRegular/LatoRegular.eot");
  src: url("../../fonts/Lato/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato/LatoRegular/LatoRegular.woff") format("woff"), url("../../fonts/Lato/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/********
***Fonts*
*********/
/********
***Media*
*********/
body {
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-family: "LatoRegular", sans-serif;
}

* {
  box-sizing: border-box;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}

.overlay--active {
  display: block;
}

header {
  height: 650px;
  background: url("../img/Background.JPG") center center no-repeat;
  background-size: cover;
}

.container {
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 1140px;
}

@media screen and (max-width: 1230px) {
  .container {
    width: 1024px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: auto;
  }
}

.header__nav-row {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .logo {
    padding-left: 20px;
  }
}

.menu-btn {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media screen and (max-width: 700px) {
  .menu-btn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 30px 10px 0 0;
  }
}

.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 550px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  z-index: 5;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

@media screen and (max-width: 700px) {
  .nav {
    will-change: transform;
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100vh;
    background: #48bf72;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.nav__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

@media screen and (max-width: 700px) {
  .nav__list {
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
}

.nav__item {
  padding-left: 40px;
}

@media screen and (max-width: 992px) {
  .nav__item {
    padding: 0 20px;
  }
}

@media screen and (max-width: 700px) {
  .nav__item {
    padding: 0;
  }
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
  font-family: "LatoBold", sans-serif;
  font-size: 16px;
  padding-bottom: 5px;
  position: relative;
}

@media screen and (max-width: 700px) {
  .nav__link {
    font-size: 20px;
    padding: 20px;
    display: block;
    width: 100%;
  }
  .nav__link:active:before, .nav__link:active:after {
    width: 100%;
    background: #ffffff;
    height: 1px;
  }
}

.nav__link:before, .nav__link:after {
  content: '';
  height: 3px;
  width: 0;
  background: #48bf72;
  position: absolute;
  bottom: 0;
  transition: width 0.2s cubic-bezier(0.4, -0.12, 0, 0.26);
}

.nav__link:before {
  right: 50%;
}

.nav__link:after {
  left: 50%;
}

.nav__link:hover:before, .nav__link:hover:after {
  width: 50%;
}

.nav__item:not(:last-child):after {
  content: "/";
  padding-left: 40px;
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .nav__item:not(:last-child):after {
    padding-left: 20px;
  }
}

@media screen and (max-width: 700px) {
  .nav__item:not(:last-child):after {
    content: "";
  }
}

@media screen and (max-width: 700px) {
  .nav--active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

.header__text {
  width: 960px;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
}

.header__text-title {
  margin: 150px 0 20px 0;
  font-size: 46px;
  font-family: "BigJohn", sans-serif;
}

@media screen and (max-width: 992px) {
  .header__text-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .header__text-title {
    font-size: 22px;
  }
}

.header__text-descr {
  font-size: 30px;
  font-family: "SlimJoe", sans-serif;
  margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .header__text-descr {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header__text-descr {
    font-size: 16px;
  }
}

.header__text-btn {
  color: #48bf72;
  font-size: 14px;
  line-height: 25px;
  border: 1px solid #48bf72;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "LatoBold", sans-serif;
}

.header__text-btn:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

@media screen and (max-width: 768px) {
  .header__text-btn:hover {
    color: #48bf72;
    border: 1px solid #48bf72;
  }
  .header__text-btn:hover:active {
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}

main {
  background: #ffffff;
  padding-top: 50px;
}

/*************Filter************/
.filter {
  width: 675px;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .filter {
    width: 100%;
  }
}

.filter__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0 0 50px 0;
  padding: 0;
}

@media screen and (max-width: 992px) {
  .filter__list {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

.filter__item {
  border-radius: 2px;
  background: #eaeaea;
  padding: 10px 15px;
}

@media screen and (max-width: 992px) {
  .filter__item {
    margin: 5px;
  }
}

.filter__item:hover {
  background: #48bf72;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .filter__item:hover {
    background: #eaeaea;
  }
  .filter__item:hover:active {
    background: #48bf72;
  }
}

.filter__link {
  text-decoration: none;
  color: #3c4955;
  font-size: 16px;
  font-family: "LatoBold", sans-serif;
}

.filter__link:hover {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .filter__link:hover {
    color: #3c4955;
  }
  .filter__link:hover:active {
    color: #ffffff;
  }
}

/*******************Project******************/
.project__wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 90px;
}

@media screen and (max-width: 992px) {
  .project__wrapper {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .project__wrapper {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-bottom: 30px;
  }
}

.project__wrapper-col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.project__wrapper-col--thin {
  width: 39%;
}

@media screen and (max-width: 768px) {
  .project__wrapper-col--thin {
    width: auto;
  }
}

.project__wrapper-col--wide {
  width: 57%;
}

@media screen and (max-width: 768px) {
  .project__wrapper-col--wide {
    width: auto;
  }
}

.project__img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .project__img {
    width: 450px;
  }
}

@media screen and (max-width: 451px) {
  .project__img {
    width: 350px;
  }
}

.project__item {
  line-height: 0;
  position: relative;
  margin-bottom: 45px;
}

@media screen and (max-width: 992px) {
  .project__item {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .project__item {
    margin-bottom: 25px;
  }
}

.project__item:hover .project__descr {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 768px) {
  .project__item:hover .project__descr {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .project__link:active .project__descr {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    transition: all .2s ease-in-out;
  }
}

.project__descr {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: none;
  background: rgba(72, 191, 114, 0.7);
  top: 0;
  left: 0;
  border-radius: 10px;
}

.project__descr-wrap {
  margin: auto;
  color: #ffffff;
  text-align: center;
}

.project__descr-title {
  font-family: "LatoBold", sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.project__descr-text {
  font-family: "LatoRegular", sans-serif;
  font-size: 16px;
}

/******************About_me*******************/
.about-me {
  width: 100%;
  background: url("../img/background_2.JPG") center center no-repeat;
  background-size: cover;
  padding: 90px 0;
}

.about-me__wrapper {
  width: 50%;
  margin-left: 50%;
}

@media screen and (max-width: 992px) {
  .about-me__wrapper {
    margin-left: 30%;
  }
}

@media screen and (max-width: 768px) {
  .about-me__wrapper {
    width: 430px;
    margin: 0 auto;
    text-align: center;
  }
}

.about-me__title {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "LatoBold", sans-serif;
  font-size: 30px;
  line-height: 32px;
}

.about-me__descr {
  margin: 0;
  font-family: "LatoRegular", sans-serif;
  font-size: 22px;
  color: #ffffff;
  line-height: 32px;
}

.about-me__text {
  margin: 32px 0;
  display: block;
  width: 420px;
  font-family: "LatoRegular", sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .about-me__text {
    width: auto;
  }
}

.about-me__link {
  color: #3c4955;
  text-decoration: none;
}

.about-me__btn {
  font-family: "LatoBold", sans-serif;
  font-size: 14px;
  line-height: 25px;
  padding: 6px 20px;
  border: 2px solid #3c4955;
  border-radius: 3px;
  width: 153px;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .about-me__btn {
    border: 2px solid #48bf72;
    color: #48bf72;
    margin: 0 auto;
  }
}

.about-me__btn:hover {
  border: 2px solid #48bf72;
  color: #48bf72;
}

.about-me__btn:active {
  border: 2px solid #ffffff;
  color: #ffffff;
}

/*****************************Form*****************************/
.form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 61%;
  min-height: 510px;
  margin: 0 auto;
  margin-bottom: 55px;
}

@media screen and (max-width: 1230px) {
  .form {
    width: 68%;
  }
}

@media screen and (max-width: 1100px) {
  .form {
    width: 71.8%;
  }
}

@media screen and (max-width: 990px) {
  .form {
    width: 92.8%;
  }
}

.form__label {
  width: 100%;
  text-align: center;
  color: #48bf72;
  font-family: "BigJohn", sans-serif;
  font-size: 26px;
  line-height: 25px;
}

@media screen and (max-width: 768px) {
  .form__label {
    font-size: 22px;
  }
}

.form__title {
  margin-bottom: 25px;
}

.form__name {
  border-radius: 3px;
  border: 2px solid #3c4955;
  width: calc(50% - 16px);
  height: 46px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .form__name {
    width: 100%;
  }
}

.form__name-label {
  background: url("../img/icon-user.png") center center no-repeat;
  height: 100%;
  width: 55px;
  display: block;
  position: absolute;
}

.form__input {
  background: #f1f1f1;
  padding: 20px 25px;
  width: calc(100% - 48px);
  height: 42px;
  border: none;
  margin-left: 48px;
}

.form__input:focus {
  border: 2px solid #48bf72;
  padding: 19px 25px;
}

.form__email {
  border-radius: 3px;
  border: 2px solid #3c4955;
  width: calc(50% - 16px);
  height: 46px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .form__email {
    width: 100%;
  }
}

.form__email-label {
  background: url("../img/icon-email.png") center center no-repeat;
  height: 100%;
  width: 55px;
  display: block;
  position: absolute;
}

.form__btn {
  width: 100%;
  background: #48bf72;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "LatoBold", sans-serif;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.form__textarea {
  width: 100%;
  height: 224px;
  border-radius: 3px;
  border: 2px solid #3c4955;
  position: relative;
}

.form__textarea-input {
  background-color: #f1f1f1;
  padding: 20px 25px;
  border: none;
  width: calc(100% - 48px);
  height: 100%;
  margin-left: 48px;
}

.form__textarea-input:focus {
  border: 2px solid #48bf72;
  padding: 19px 25px;
  width: 644px;
}

.form__textarea-label {
  background: url("../img/icon-message.png") center center no-repeat;
  height: 100%;
  width: 55px;
  display: block;
  position: absolute;
}

/**********************Footer****************************/
footer {
  background: #3c4955;
  width: 100%;
}

.footer {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 201px;
}

@media screen and (max-width: 768px) {
  .footer {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

.footer__copyright {
  font-family: "LatoBold", sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 14px;
  }
}

.footer__copyright-link {
  text-decoration: none;
  color: #ffffff;
}

.footer__social {
  width: 317px;
}

.footer__social-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
